.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 2000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content{
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;     
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2);
        transition: all .4s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right  {
        width: 66.66666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-gray-light-2;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close{
        &:link,
        &:visited{
            color: $color-gray-dark;
            position: absolute;
            top: 2.3rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover{
            color: $color-primary;
        }
    }

    @include respond(tab-port){

        &__content{
            width:90%;  
        }

        &__left {
            width: 100%;
            display: table-row;
        }

        &__img {
            display: inline-block;
            width: 50%;

        }

        &__right {
            width: 100%;
            display: block;
        }

        &__text {
            padding: 0 2rem;
            column-gap: 3rem;
        }
    }

    @include respond(phone){
        &__content{
            width:100%;  
            height: auto;
        }

        &__text {
            column-count: 1;
            column-gap: 0rem;
            column-rule: 1px solid $color-gray-light-2;
        }
    }
}













