body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    color: $color-gray-dark;
}

.heading-primary {
    color: $color-white;
    text-transform:uppercase; 

    /* stops shaking */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &-main {
        display: block;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        font-weight: 400;

        /* animation */
        animation-name: MoveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        
        @include respond(phone){
            letter-spacing: 1.5rem;
        }
    }
    
    &-sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;

        /* Animation */
        animation-name: MoveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;

        /* short: animation: name, time, function*/
        @include respond(phone){
            letter-spacing: .6rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all 0.2s;
    
    @include respond(tab-port) {
        font-size: 3rem;
    }
    
    @include respond(phone) {
        font-size: 2.5rem;
    }
     
    &:hover{
        transform:skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}












